@font-face {
	font-family: future;
	src: url(img/spaceshooter/Bonus/kenvector_future.ttf);
}

body {
	text-align: center;
	background-image: url(img/spaceshooter/Backgrounds/black.png);
}

canvas {
	background-image: url(img/spaceshooter/Backgrounds/blue.png);
	margin-top: 3%;
	background-position: 0px 0px;
	background-repeat: repeat;
	animation: animate 5s linear;
	animation-iteration-count: infinite;
}

@keyframes animate {
	from{background-position: 0 0;}
	to{background-position: 0 750px;}
}